*.pyc
.*.swp
.coverage
coverage-report.log
docs/_build
docs/commands.rst
docs/commands_rhel.rst
docs/modules.rst
docs/programmers-guide
docs/pykickstart*.rst
docs/sections.rst
po/*.mo
po/*.po
pykickstart*.tar.bz2
pykickstart*.tar.bz2.asc
pykickstart*.tar.gz
pykickstart*.tar.gz.asc
pylint-log
tests/pylint/.pylint.d/
