# Requirements for automatic testing and building
# Runtime requirements are described in the spec file

pip
setuptools
pytest
# This requires a specific range of coverage versions, let the dependency be pulled in by coveralls
coveralls < 1.10.0
nose
ordered-set
polib
pylint
requests
six
Sphinx == 1.7.6

# Custom Red Hat module used with pylint
https://github.com/rhinstaller/pocketlint/zipball/master
